# Swift .gitignore
#
# Source: https://raw.githubusercontent.com/github/gitignore/main/Swift.gitignore
# Last copied from source on December 10th, 2021

## OS X Folder Attributes
.DS_Store

## Obj-C/Swift Specific
*.hmap

## App Packaging
*.ipa
*.dSYM.zip
*.dSYM

## Xcode User ettings
xcuserdata/

## Xcode Playgrounds
timeline.xctimeline
playground.xcworkspace

## Swift Package Manager
.build/
.swiftpm/ 

## CocoaPods
Pods/

## fastlane
fastlane/report.xml
fastlane/screenshots/**/*.png
fastlane/test_output
fastlane/[Pp]rovisioning
fastlane/[Bb]uild
fastlane/[Oo]utput
fastlane/DerivedData
fastlane/derived_data
fastlane/screenshots
fastlane/[Pp]review.html

## Dotenv
.env.local 
